/* colors.css */

#yellow {
  background-color: #ffffcc;
}

#red {
  background-color: #ffcccc;
}

#green {
  background-color: #ccffcc;
}

#orange {
  background-color: #ffddbb;
}

#blue {
  background-color: #cce6ff;
}

section p {
  margin-bottom: 20px;
  font-weight: bold;
  letter-spacing: 1px;
}

li {
  background-color: white;
  padding: 10px 20px;
  border: 1px solid #ccc;
}

