/* layout.css */

body {
  display: flex;
  height: 100vh;
  margin: 0;
}
section {
  flex: 1;
  padding: 20px;
  text-align: center;
}
ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0;
  list-style: none;
  align-items: center;
}
